# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea

*.iml

target/
.project
.settings
*.classpath
.DS_Store
